# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TakeFruit.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\vital\TakeFruit\.idea\.idea.TakeFruit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
